/*@import "./base.css";*/

body {
    margin: 0;
    font-family: sans-serif;
    color: #444;
}
[id="app"] {
    display: grid;
    grid-template-columns: 25% 1fr;
    /*gap: 5vw;*/
}
[id="sidebar"] {
    padding: 40px;
}
[id="sidebar"] ul {
    list-style: none;
    padding-left: 0;
}
[id="map"] {
    height: 100vh;
}